

nav {

 

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #707070;
font-size: 1.5em;
} 


nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #707070; 
    font-size: 1.7em; 
    text-align: center; 
    margin-bottom: 1em; 
    margin-top: 2em;
    
}

nav a {
    border: 0.1em solid #707070; 
    padding: 0.5em 1em; 
    background-color: white; 
    text-decoration: none; 
    color: #707070; 
    border-radius: 4px; 
    transition: all 0.3s ease; 
    margin: 0 0.5em; 

}

nav a:hover {
    background-color: #707070; 
    color: black; 
    border-color: #000; 
    transform: scale(1.2);
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    gap: 1em; 
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 100px;
    text-align: center;
}

h1{
    color: #707070;
}
h2{
    color: #707070;
    text-align: center;
    padding-bottom: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    color: #707070;
}


body{
background: #FFC352 
}


    

li{
    color: #707070
}
footer{
    font-style: italic;
}


.row{
    display: flex;
justify-content: space-around;


}

div .column{
    float: left;
    width: 20%;
    border: #707070 solid 5px;
    margin: 0;
    padding: 0;

    
    
   
}

#logofoto{
    max-width: 70%;
    display: block;
    margin: 0;
    padding: 0;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h2{
    font-size: 5em;
}

.wiezijnwij{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    margin-bottom: 0;




    
}

.overonstext{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #707070;
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 70%;
    
}

.parent {
  border: 1px solid black;
  margin: 1em;
  padding: 2em 2em;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1em 1em;
  vertical-align: middle;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1px;
    margin-bottom: 6em;
    
   
}
.rectangle {
    width:25em;
    height: 700px;
    background-color:#707070;
    border: white 3px solid;
    display: flex;
    justify-content: flex-start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    text-align: center;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    position: relative;

 }

   
 .rectangle img {
        width: 11em;
        height: 11em;
        border: black solid 3px;
        margin-bottom: 1em;
        margin-top: 2em;
    
      
    }

    
    
    .rectangle .omschrijving1 {
        font-family: Arial, sans-serif;
        font-size: 0.9em; 
        color:white; 
        text-align: center;
        font-style: italic;
    }

    .rectangle .omschrijving2 {
        margin-top: 0.5em; 
        font-family: Arial, sans-serif;
        font-size: 0.9em; 
        color:white; 
        text-align: center;
        
    }
    .rectangle .omschrijving3 {
        margin-top: 0.5em; 
        font-family: Arial, sans-serif;
        font-size: 0.9em; 
        color:white; 
        text-align: center;
        font-style: italic;
        margin-top: 56px;
        
    }
    .rectangle .omschrijving4 {
        margin-top: 0.5em; 
        font-family: Arial, sans-serif;
        font-size: 0.9em; 
        color:white; 
        text-align: center;
        font-style: italic;
        margin-top: 56px;
        
    }

    
    .rectangle .bottom-text {
        position: absolute; 
        bottom: 0.1em; 
        right: 0.3em; 
        font-size: 20px;
        font-family: Arial, sans-serif;
        color: #ffffff;
        text-align: right; 
        font-style: oblique;
    }

    .meerlezen{
     padding: 5px;
     border:#FFC352 solid 2px;
     background-color: white;
     color: black;
     text-align: center;
    }

    .meerlezen1{

            padding: 5px;
            border:#FFC352 solid 2px;
            background-color: white;
            color: black;
            text-align: center;
         }
         .meerlezen2{

            padding: 5px;
            border:#FFC352 solid 2px;
            background-color: white;
            color: black;
            text-align: center;
            margin-top: 4em;
            }

            .meerlezen5{
                padding: 5px;
                border:#FFC352 solid 2px;
                background-color: white;
                color: black;
                text-align: center;
                margin-top: 2em;
               } 
          
            .meerlezen6{
                padding: 5px;
                border:#FFC352 solid 2px;
                background-color: white;
                color: black;
                text-align: center;
                margin-top: 5em;
               }
           



  .omschrijving1 + .meerlezen{
        margin-top: 3em;
    }
    
     
   
    


        

    .titel1{
      font-size: 2em;

    
    }

    .aflevering-titel{
        font-size: 2em; 
        border-bottom: solid #FFC352 4px;
        padding: 5px;
       }

       .overons {
         font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em; 
    text-align: center; 
    margin: 0 auto; 
    color: #707070; 
    width: 60%; 
    line-height: 1.5; 
    padding-bottom: 3em;
    font-style: italic;
}
       
        
    
    

       .wiezijnwij{
        padding-top: 1em;
        
 }
       .image-row {
        display: flex; 
        justify-content: space-evenly; 
        align-items: flex-start; 
        gap: 2em; 
        padding: 1em;
        flex-wrap: wrap; 
    
    }
    
    .image-container {
        text-align: center; 
        width: 20%; 
        
    }
    .image-container img {
        width: 100%; 
        height: 30em; 
        object-fit: cover; 
        border: 4px solid #707070; 
    }
    
        
        

    
    .image-title {
        display: block; 
        margin-top: 0.5em; 
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2em; 
        color:#707070; 
        font-weight: bold; 
       
    }

    .page-footer {
        background-color: #000;
        color: #fff; 
        padding: 1em; 
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        width: 100%; 
        font-size: larger;
    }
    
    .footer-left, .footer-center, .footer-right {
        flex: 1; 
        text-align: center; 
    }
    
    .footer-left {
        text-align: left; 
        margin-left: 3em;
    }
    
    .footer-right {
        text-align: right; 
        margin-right: 3em;
    }
    
    .footer-logo {
        height: 150px; 
        width: auto; 
    
    }
    

body {
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

main {
    flex: 1; 
}

.watdoenwij {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 3em; 
    text-align: center; 
    margin: em 0; 
    color: #707070; 
}

.watdoen-paragraaf {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em; 
    text-align: center; 
    margin: 0 auto; 
    color: #707070; 
    width: 60%; 
    line-height: 1.5; 
    padding-bottom: 3em;
    font-style: italic;
}

